{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 90,
  "endOfLine": "lf",
  "singleAttributePerLine": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/assets/main.css"
}
