{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "printWidth": 80,
  "endOfLine": "lf"
}
