@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--ui-border, currentColor);
  }
}

@theme {
  --color-primary: var(--ui-primary);

  --color-surface: var(--surface);

  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', メイリオ, monospace;
}

:root {
  --surface: rgb(250 250 251);

  --ui-radius: var(--radius-md);

  --font-family:
    'Exo 2', Inter, '-apple-system', BlinkMacSystemFont, Helvetica, Arial, 'Noto Sans JP',
    Meiryo, sans-serif;
}

.dark {
  --surface: rgb(29 29 30);
}

body {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  word-break: normal;
  overflow-wrap: anywhere;
  line-break: strict;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
