@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--ui-border, currentColor);
  }
}

@theme static {
  --color-base-0: var(--bg-base-0);
  --color-surface: var(--bg-surface);

  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

:root {
  --bg-base-0: rgb(249 250 251);
  --bg-surface: rgb(255 255 255);

  --header-height: 56px;
  --viewport-content-height: calc(100dvh - var(--header-height));

  --font-family:
    'Exo 2', Inter, '-apple-system', BlinkMacSystemFont, Helvetica, Arial, 'Noto Sans JP', Meiryo, sans-serif;
}

.dark {
  --bg-base-0: rgb(20 20 20);
  --bg-surface: rgb(26 26 30);
}

body {
  font-family: var(--font-family);
  scroll-behavior: smooth;
  word-break: normal;
  overflow-wrap: anywhere;
  line-break: strict;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
